<div class="footer" id="section_footer_1">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-9">
					<div class="content">
                        <h5>
                            <span><strong>Useful Information</strong></span>
                        </h5>
                    <div>
						<p>
							<span>Обзоры книг, видеолекции и видеоуроки, дайджесты и образовательные статьи по программированию и разработке.</span>
						</p>
					</div>
                </div>
			</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="content">
                        <h5>
                            <span><strong>Follow Us</strong></span>
                        </h5>
                    <div>
						<p>
							<span>
								Find us on social network
							</span>
						</p>
					</div>
                    <div>
						<a href="#">
							<i class="pixicon-facebook3 big-icon-50 pix-light-white"></i>
						</a>
						<a href="#">
							<i class="pixicon-twitter4 big-icon-50 pix-light-white"></i>
						</a>
						<a href="#">
							<i class="pixicon-instagram4 big-icon-50 pix-light-white"></i>
						</a>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>