{% extends "base.html" %}

{% block content %}

<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-10 col-lg-8 col-md-auto">

                    <p>{{ post.published_date }}</p>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.text }}</p>
                    <hr>

{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>Здесь комментариев ещё нет :(</p>
{% endfor %}
    <a class="btn btn-primary" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">Добавить комментарий</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}