{% extends "blog/base.html"%}

{% block content %}
    {% for post in object_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                <p class="card-text">{{ post.content }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать</a>
            </div>
        </div>
    {% empty %}
        <p>Нет постов</p>
    {% endfor %}

{% endblock %}