{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block head_title %} {% endblock %}Django blog</title>
    <meta name="keywords" content="Django">
    <meta name="description" content="Django blog">
    <meta name="author" content="taurus">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>
<body>
<div id="loader-wrapper">
    <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
{% include 'blog/header.html' %}

<div class="container">
    {% block content %} Empty page {% endblock %}
</div>

{% include 'blog/footer.html' %}

<!--JavaScript -->
<script src="{% static 'external/jquery/jquery.min.js' %}"></script>
<script src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'external/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'external/slick/slick.min.js' %}"></script>
<script src="{% static 'external/panelmenu/panelmenu.js' %}"></script>
<script src="{% static 'external/isotope/imagesloaded.js' %}"></script>
<script src="{% static 'external/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'external/lazyLoad/lazyload.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- form validation and sending to mail -->
<script src="{% static 'external/form/jquery.form.js' %}"></script>
<script src="{% static 'external/form/jquery.validate.min.js' %}"></script>
<script src="{% static 'external/form/jquery.form-init.js' %}"></script>

</body>
</html>