<div class="pix_section pix-padding-v-20 gray-dark-bg" id="section_footer_1" style="display: block;">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 column ui-droppable col-md-9">
					<div class="pix-content">
                        <h5 class="pix-white">
                            <span class="pix_edit_text"><strong>Useful Information</strong></span>
                        </h5>
                    <div class="pix-padding-v-10">
						<p class="pix-gray">
							<span class="pix_edit_text">Обзоры книг, видеолекции и видеоуроки, дайджесты и образовательные статьи по программированию и разработке.</span>
						</p>
					</div>
                </div>
			</div>
				<div class="col-xs-12 col-sm-3 column ui-droppable col-md-3">
					<div class="pix-content">
                        <h5 class="pix-white">
                            <span class="pix_edit_text"><strong>Follow Us</strong></span>
                        </h5>
                    <div class="pix-padding-v-10">
						<p class="pix-gray">
							<span class="pix_edit_text">
								Find us on social network
							</span>
						</p>
					</div>
                    <div class="pix-padding-bottom-20">
						<a href="#" class="small-social">
							<i class="pixicon-facebook3 big-icon-50 pix-light-white"></i>
						</a>
						<a href="#" class="small-social">
							<i class="pixicon-twitter4 big-icon-50 pix-light-white"></i>
						</a>
						<a href="#" class="small-social">
							<i class="pixicon-instagram4 big-icon-50 pix-light-white"></i>
						</a>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>